text,
div#current-column,
div#totaliser,
div.flourish-footer-text {
  font-family: monospace;
}

rect {
  rx: 8px;
}

g.tick line {
  opacity: 0.8
}

g.tl-axis-bottom g.tick:last-child text {
  transform: translateX(16px);
}

/* remove timeline */
.tl-axis-bottom g.tick {
  display: none;
}

path.tl-scrub-node {
  opacity: 0;
}

.tl-axis-bottom {
  opacity: 0;
}
